<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Portal</title>
        <link rel="icon" href="https://www.pinclipart.com/picdir/middle/536-5365222_vector-student-icon-png-clipart.png" size="16x16">

          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
          <link rel="stylesheet" href="style.css">

</head>
<body>
 <div class="typewriter">
   <h1>Welcome to Students Portal</h1>
 </div>
   <div class="all">
     <!-- Contenedor -->
	<div class="pricing-wrapper clearfix">
		<!-- Titulo -->
		<h1 class="pricing-table-title">Upcoming events and hackathons...</h1>

		<div class="pricing-table">
			<h3 class="pricing-title">Devloper Days <img src="https://developerdays.tech/static/media/logo.e3a6de96.png" width="100%" height="100%" ></h3>
			<div class="price"> 5-week long event</div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li><span>Web Development</span></li>
				<li><span>UI/UX Designing</span></li>
				<li><span>Android Development</span></li>
				<li><span>Swags For Top Developers</span></li>
				<li><span>Swags For Active Participants</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>Register here:</p>
				<a href="https://developerdays.tech/" class="pricing-action">Register</a>
			</div>
		</div>
		
		<div class="pricing-table recommended">
			<h3 class="pricing-title">30 Days of Google Cloud <br><br><img src="https://events.withgoogle.com/media/f93c44ad/img/microsite-wsx/logos/google-cloud.png"  width="80%" height="100%" ></h3>
			<div class="price">30 days event</div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li><span>Cloud Engineering</span></li>
				<li><span>Data Science & Machine Learning</span></li>
				<li><span>Swags for completing any 1 track!</span></li>
				<li><span>Swags for completing both track!</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>Register here:</p>
				<a href="https://events.withgoogle.com/30daysofgooglecloud/enrol-in-the-program/#content" class="pricing-action">Register</a>
			</div>
		</div>

		<div class="pricing-table hack">
			<h3 class="pricing-title">Hactoberfeast  <br><br><img src="https://hacktoberfest.digitalocean.com/_nuxt/img/logo-hacktoberfest-full.f42e3b1.svg" width="80%" height="100%" ></h3>
			<div class="price">Month long challenge</sup></div>
			<!-- Lista de Caracteristicas / Propiedades -->
			<ul class="table-list">
				<li><span>Hosted by DigitalOcean</span></li>
				<li><span>Open Source Contribution</span></li>
        <li><span>Swags on successful contribution</span></li>
				<li><span>169,886 Participants in 2020</span></li>
			</ul>
			<!-- Contratar / Comprar -->
			<div class="table-buy">
				<p>Register here</p>
				<a href="https://hacktoberfest.digitalocean.com/" class="pricing-action">Register</a>
			</div>
		</div>
	</div>
     
<br>
       <div class="form-ct">
      <h2>A simple solution to submit your hard work(Assignment):</h2>
      <a href="/submit"><input type="submit" value="Submit Assignment" style="width:30%;"></a>
      <img src="https://cdn3.iconfinder.com/data/icons/user-interface-1-5/34/58-512.png" width="10%" height="10%"  style="margin-left:53%;">
      </div><br>
      <div class="form-ct">
      <h2>Having difficulties managing your time?Try planning your task befor!!:</h2>
      <a href="/todo"><input type="submit" value="Plan your studies" style="width:30%;"></a>
      <img src="https://cdn0.iconfinder.com/data/icons/simpline-mix/64/simpline_39-512.png" width="10%" height="10%"  style="margin-left:53%;">
      </div><br>
      
      <a href="/contact"><input type="submit" value="Contact Us" style="width:30%;margin-left:33%;"></a>

      
      
   </div>
</body>
</html>
